@font-face {
	font-family: "Minion";
	src: url('/fonts/Minion.ttf') format('truetype');
}

@font-face {
	font-family: "Helv";
	src: url('/fonts/HelveticaNeue.ttf') format('truetype');
}

.App {
	background-color: #eee;
	font-family: "Helv";
}

hr {
	border: none;
	height: 1px;
	color: #222;
	background-color: #222;
	position: relative;
	top: -10px;
	margin-bottom: 35px;
}
